<h1 id = "appheader">PayMe DateMe</h1>
<p>Have you ever felt like you were putting out more effort than your partner?</p>
<p>Always the one to pay the bill?</p>
<p>We have your solution for a more equitable relationship! (or at least enough proof for you to back up your inevitable fight about going Dutch for Valentine's)</p>
<%= link_to 'Continue', controller = 'people' %>
