<div class = "headerbg">
  <h1 id = "appheader">Breakeven</h1>
</div>
<p>Do you feel like your partner spends too much on you?</p>
<p>Or maybe that you're always the one to pick up the bill?</p>
<p>We have something to help keep each of you accountable for your spending!</p>
<p>(or at least provide enough proof for you to back up your most recent bill grab for Valentine's Day)</p>
<button><%= link_to 'Continue', controller = 'people' %></button>
